.background {
  margin: 1rem;
  background-color: #357266;
  padding: 1rem;
  border-radius: 1rem;
}

.input-container {
  display: flex;
  justify-content: flex-start;
  /* border: 1px solid red; */
}

input {
  border: none;
  margin: 0.5rem;
}

.reason {
  width: fill;
}